{{yield}}

<span {{action "sortAsc" }} id="{{sortParam}}-asc-button" class="sort-button sort-asc"
  role="button" aria-label="Sort by Ascending Order" aria-disabled="{{isAscDisabled}}" tabindex=0>A</span><span {{action "sortDesc" }} id="{{sortParam}}-desc-button" class="sort-button sort-desc"
  role="button" aria-label="Sort by Descending Order" aria-disabled="{{isDescDisabled}}" tabindex=0>D</span>